@import url("https://fonts.googleapis.com/css?family=Balsamiq+Sans|Nunito");

:root {
  --p-color: rgb(55, 21, 180);
}

body {
  font-family: sans-serif;
  background-color: #e0edff;
}

h3 {
  font-family: "Balsamiq Sans";
  text-align: center;
  color: --p-color;
}

p {
  font-family: "Nunito";
  color: --p-color;
}

#header {
  padding-bottom: 15px;
  border-bottom: 1px solid #a511c0;
}

/****** BUTTON-SPECIFIC CSS ******/

.myButton {
  margin: 0 auto;
  display: block;
  background-color: #c123de;
  border-radius: 13px;
  border: 1px solid #a511c0;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}
.myButton:hover {
  background-color: #a20dbd;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/***** FLEXBOX *******/
.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

/***** PET SPECIFIC ******/

.petbox {
  border: 2px #5b38e8 solid;
  background-color: #ded6ff;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

.petpic {
  border: 2px solid lightblue;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
